.home {
  font-weight: bold;
}

body {
  font-family: Inter;
}

.navigator {
  background-color: #f9d199;
  max-width: 100%;
  height: 84px;
}

.navigator li {
  margin-right: 80px;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 70px;
}

.menu-header {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #f9d199;
}

.menu-header ul li {
  display: inline;
}

.menu-header ul li a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #000;
  margin-top: 30px;
}

main {
  margin: 40px auto 48px;
  max-width: max-content;
}

main > h2 {
  font-size: 40px;
  line-hight: 48px;
  margin-bottom: 40px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
}

.content article {
  font-size: 24px;
  line-height: 29px;
  max-width: 640px;
}
