.home {
  font-weight: bold;
}

.navigator {
  background-color: #f9d199;
  max-width: 100%;
  height: 84px; 
}

.navigator li {
  margin-right: 80px;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 70px; 
}

.menu-header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #f9d199;
}

.menu-header ul {
  list-style: none;
}

.menu-header ul li {
  display: inline;
}

.menu-header ul li a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #000;
  margin-top: 30px;
}

.title-founder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 40px;
  margin-top: 50px;
  margin-left: 70px;
}

.container-founder {
  display: flex;
  margin-left: 70px;
  align-items: center;
} 

.img-founder-jason {
  width: 150px;
  height: 150px; 
}

.name-founder {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  color: #000;
  margin-left: 30px;
}

.office-founder {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  color: #000;
  margin-top: 5px;
  margin-left: 36px;
}

.img-founder-maria {
  width: 150px;
  height: 150px;
  margin-left: 90px; 
}