.home {
  font-weight: bold;
}

body {
  font-family: Inter;
}

.main-image {
  width: 1440px;
  height: 500px;
  display: block;
  margin: 0 auto;
}

.call-to-action-section {
  margin-top: 50px;
}

.call-to-action-text {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.call-to-action-button {
  width: 177px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px;
  border-width: 0px;
  background-color: #f9d199;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
  background-color: #f9d199;
  max-width: 100%;
  height: 84px; 
}

.logo {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-top: 30px;
  margin-left: 70px; 
}

.menu-header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menu-header ul {
  list-style: none;
}

.menu-header ul li {
  display: inline;
}

ul {
  margin-top: 30px;
}

.home {
  margin-right: 80px;
}

.about {
  margin-right: 80px;
}

.contact {
  margin-right: 70px;
}

.menu-header ul li a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #000;
}